# Point directly to the GitLab project registry for each package
@rtorcato/js-tooling:registry=https://gitlab.com/api/v4/projects/60855075/packages/npm/
//gitlab.com/api/v4/projects/60855075/packages/npm/:_authToken=${NPM_TOKEN}

@rtorcato/template-npm-package:registry=https://gitlab.com/api/v4/projects/69650541/packages/npm/
//gitlab.com/api/v4/projects/69650541/packages/npm/:_authToken=${NPM_TOKEN}

# Optional fallback for generic scope resolution
# @rtorcato:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=${NPM_TOKEN}

# test: pnpm config get @rtorcato/js-tooling:registry
# test is it published? https://gitlab.com/api/v4/projects/60855075/packages/npm/@rtorcato/js-tooling
# test: pnpm config get @rtorcato/template-npm-package:registry
# test is it published? https://gitlab.com/api/v4/projects/69650541/packages/npm/@rtorcato/template-npm-package
# test: curl -H "Authorization: Bearer $NPM_TOKEN" https://gitlab.com/api/v4/projects/60855075/packages/npm/@rtorcato/js-tooling